.btn-group-wrapper {
  .btn-wrapper {
    padding-bottom: 10px;
    @include make-col-ready();
    &.btn-small {
      @include make-col(12);
      @include make-col-md(6);
      @include make-col-lg(4);
      @include make-col-xl(3);
    }
    &.btn-medium {
      @include make-col(12);
      @include make-col-lg(9);
      @include make-col-xl(6);
    }
    &.btn-large {
      @include make-col(12);
      @include make-col-xl(9);
    }
    &.btn-full {
      @include make-col(12);
    }
    &.btn-auto {
      width: auto;
      flex: 1 1 auto;
    }
    &.btn-content {
      width: auto;
      flex: 0 0 auto;
    }
    @include media-breakpoint-down(sm) {
      &.btn-mob-small {
        @include make-col(3);
      }
      &.btn-mob-medium {
        @include make-col(6);
      }
      &.btn-mob-large {
        @include make-col(9);
      }
      &.btn-mob-full {
        @include make-col(12);
      }
      &.btn-mob-content {
        width: auto;
        flex: 0 0 auto;
      }
      &.btn-mob-auto {
        width: auto;
        flex: 1 1 auto;
      }
    }
    .btn {
      // Structure
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      // Colors
      transition: background-color .2s ease-out;
      -webkit-tap-highlight-color: transparent;
      // Text
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-size: $btn-font-size;
      // Size
      width: 100%;
      min-height: $btn-height;
      padding: $btn-padding;
      // Borders
      border: none;
      border-radius: $btn-radius;
      outline: 0;
      box-shadow: $btn-shadow;
      &:disabled, &[disabled] {
        opacity: .5;
        cursor: not-allowed;
        box-shadow: none;
      }
      &.btn-primary {
        border: $btn-border-primary;
        color: $btn-text-color-primary;
        background-color: $btn-bg-color-primary;
        &:hover:not(:disabled) {
          background-color: $btn-bg-color-primary-hover;
        }
      }
      &.btn-secondary {
        border: $btn-border-secondary;
        color: $btn-text-color-secondary;
        background-color: $btn-bg-color-secondary;
        &:hover:not(:disabled) {
          background-color: $btn-bg-color-secondary-hover;
        }
      }
      &.btn-tertiary {
        border: $btn-border-tertiary;
        color: $btn-text-color-tertiary;
        background-color: $btn-bg-color-tertiary;
        &:hover:not(:disabled) {
          background-color: $btn-bg-color-tertiary-hover;
        }
      }
      &.btn-negative {
        border: $btn-border-negative;
        color: $btn-text-color-negative;
        background-color: $btn-bg-color-negative;
        &:hover:not(:disabled) {
          background-color: $btn-bg-color-negative-hover;
        }
      }
    }
  }
}
